<%= simple_form_for(@pro) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :image, :as => :file %>



    <h3>workouts</h3>
    <div id='workouts'>
      <%= f.simple_fields_for :workout do |workout| %>
        <%= render 'workout_fields', :f => workout %>
      <% end %>
    </div>
  </div>

    <h3>locations</h3>
    <div id='locations'>
      <%= f.simple_fields_for :location do |location| %>
        <%= render 'location_fields', :f => location %>
      <% end %>
    </div>


    <h3>Workout style</h3>
    <div id='styles'>
      <%= f.simple_fields_for :style do |style| %>
        <%= render 'style_fields', :f => style %>
      <% end %>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
