<h1>All pros</h1>

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> origin/master
>>>>>>> origin/master
<% if user_signed_in? %>
<h1>Welcome <%= current_user.name %> </h1> 
<h2>Your have <%= current_user.sessions %> sessions remaining to book</h2> <br>

<% end %>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> origin/master
>>>>>>> origin/master
>>>>>>> origin/master
<% 
# I would like to add a welcome user.name
# message at the top for those who are signed in
# but i don't know how to give control in the controller
%>

<div class="well well-sm">
  <p><strong>Refine the pros: </strong></p>

  <%= search_form_for @q do |f| %>
    <%= f.input :workout_weights_true, as: :boolean, label: "Weights" %>
    <%= f.input :workout_yoga_true, as: :boolean, label: "Yoga" %>
    <%= f.input :workout_running_true, as: :boolean, label: "Running" %>
  <p><strong>Locations served: </strong></p>
    <%= f.input :location_hollywood_true, as: :boolean, label: "Hollywood" %>
    <%= f.input :location_westside_true, as: :boolean, label: "Westside" %>
    <%= f.input :location_valley_true, as: :boolean, label: "Valley" %>
    <%= f.input :location_century_city_true, as: :boolean, label: "Century City" %>

    <%= f.button :submit, class: 'btn btn-danger' %>
  <% end %>
   <br>
   <p>Or find the perfect match!   <%= link_to 'Take the Quiz', quiz_path, class: 'btn btn-info' %>     </p> 


</div>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>      
      <th>Name</th>
      <th>Description</th>
      <th>Workout</th>
      <th>Location</th>      
      <th>Intesity Score</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pros.each do |pro| %>
      <tr>
<<<<<<< HEAD
        <td><%= link_to image_tag(pro.image.url(:thumb)), pro %></td>
=======
        <td><%= image_tag pro.image.url(:thumb) %></td>
>>>>>>> origin/master
        <td><%= pro.name %></td>
        <td><%= pro.description %></td>
        <td>
          <ul>
            <%= pro.workout.weights ? raw('<li>Weights</li>') : nil %>
            <%= pro.workout.yoga ? raw('<li>Yoga</li>') : nil %>
            <%= pro.workout.running ? raw('<li>Running</li>') : nil %>
          </ul>
        </td>
        <td>
          <ul>
            <%= pro.location.hollywood ? raw('<li>Hollywood</li>') : nil %>
            <%= pro.location.westside ? raw('<li>Westside</li>') : nil %>
            <%= pro.location.valley ? raw('<li>Valley</li>') : nil %>
            <%= pro.location.century_city ? raw('<li>Century City</li>') : nil %>
        
          </ul>
        </td>
        <td>  <% # this code is not working so i'm commenting it out
        #  pro.style.approach + pro.style.intensity + pro.style.plan   
        %>           
        <td><%= link_to 'Show', pro %></td>
        <td><%= link_to 'Edit', edit_pro_path(pro) %></td>
        <td><%= link_to 'Destroy', pro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

