<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pro.name %>
</p>


<p>
<%= image_tag @pro.image.url(:thumb) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pro.description %>
</p>

<h2>Workout types</h2>

<ul>
  <%= @pro.workout.weights ? raw('<li>Weights</li>') : nil %>
  <%= @pro.workout.yoga ? raw('<li>Yoga</li>') : nil %>
  <%= @pro.workout.running ? raw('<li>Running</li>') : nil %>
</ul>

<% if !@pro.workout.weights && !@pro.workout.yoga && !@pro.workout.running %>
  <p>none available</p>
<% end %>

<h2>Locations</h2>

<ul>
  <%= @pro.location.hollywood ? raw('<li>Hollywood</li>') : nil %>
  <%= @pro.location.westside ? raw('<li>Westside</li>') : nil %>
  <%= @pro.location.valley ? raw('<li>Valley</li>') : nil %>
  <%= @pro.location.century_city ? raw('<li>Century City</li>') : nil %>  
</ul>

<% if !@pro.location.hollywood && !@pro.location.westside && !@pro.location.valley && !@pro.location.century_city %>
  <p>none available</p>
<% end %>

<h2>Workout style</h2>

<ul>
  <li><%= @pro.style.approach %></li>
  <li><%= @pro.style.intensity %></li>
  <li><%= @pro.style.plan %></li>
</ul>

<h2>Book this pro</h2>

<%= link_to "Book this pro", new_pro_booking_path(@pro), class: "btn btn-primary" %><br/>

<%= link_to 'Edit', edit_pro_path(@pro) %> |
<%= link_to 'Back', pros_path %>
