<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pro.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pro.description %>
</p>

<h2>Workout types</h2>

<ul>
  <li>Weights: <%= @pro.workout.weights %></li>
  <li>Yoga: <%= @pro.workout.yoga %></li>
  <li>Running: <%= @pro.workout.running %></li>
</ul>

<%= link_to 'Edit', edit_pro_path(@pro) %> |
<%= link_to 'Back', pros_path %>
